:root {
    --primary-color: #3558a2;
}

.blue-color {
    color: var(--primary-color) !important;
}

.blue-bg-sidebar {
    background: var(--primary-color);
}

.blue-bg {
    background: var(--primary-color) !important;
}

.blue-bg:hover {
    background: rgb(96 165 250) !important;
}

.logo-container {
    width: 14.3%;
    /*max-width: 140px;*/
}

@media screen and (max-width: 1023px) {
    .logo-container {
        width: 100%;
        max-width: 140px;
    }
}

.disabled-button {
    background: gray;
}

.login-container {
    background: url("../assets/images/login-background.jpg") no-repeat center;
    background-size: auto;
}

.login-form {
    background-color: #ffffffdd !important;
}

.custom-hr-login-form{
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}
