:root {
    --primary-color: rgb(000, 138, 201);
}

.blue-color {
    color: var(--primary-color);
}

.blue-bg {
    background: var(--primary-color);
}

.logo-container {
    width: 14.3%;
    /*max-width: 140px;*/
}

@media screen and (max-width:1023px)  {
    .logo-container {
        width: 100%;
        max-width: 140px;
    }
}
