:root {
    --primary-color: #3558a2;
}

.blue-color {
    color: var(--primary-color);
}

.blue-bg-sidebar {
    background: var(--primary-color);
}

.blue-bg {
    background: var(--primary-color) !important;
}

.blue-bg:hover {
    background: rgb(96 165 250) !important;
}

.logo-container {
    width: 14.3%;
    /*max-width: 140px;*/
}

@media screen and (max-width:1023px)  {
    .logo-container {
        width: 100%;
        max-width: 140px;
    }
}
